body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 60px;
    color: #575757;
}
h2{
    font-size: 40px;
}
p {
    color: #828282;
    margin-bottom: 70px;
    font-size: 20px;
}
.container{
    display: flex;
    margin-top: 90px;
    margin-bottom: 40px;
}
.half-width{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 50px;
}
#top-food{
    margin-top: 70px;
}
.orange-color{
    color: #fb934a;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    padding: 20px 45px;
    border-radius: 35px;
    color: white;
    margin-top: 50px;
}

#image{
    width: 55%;
    margin-left: 30px;
}
.about{
    background-image: url(images/female/bg.png);
    background-repeat: no-repeat;
    background-size: 1585px 600px;
}
.portfolio{
    width: 30%;
    margin-left: 2%;
    margin-right: 1%;
    padding: 30px 30px 0px 30px;
    box-shadow: 5px 5px 10px 10px gainsboro;
    border-radius: 20px;
}
.portfolio img{
    width: 100%;
    text-align: center;
}
.recipics{
    text-align: center;
}
.recipics p{
    width: 55%;
    margin-left: 350px;
}